################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EFCorePracticeApi/.vs
/EFCorePracticeApi/EFCorePracticeApi/bin/Debug/net10.0
/EFCorePracticeApi/EFCorePracticeApi/EFCorePracticeApi.csproj
